
{{#section 'css'}}
    <link rel="stylesheet" href="{{static '/css/chat.css'}}">
{{/section}}

{{! 头部引入}}
{{> header}}
<section class="chat-container">
    <div class="user-list">
        <h4>在线用户</h4>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="message-box">
        <div class="message-title"></div>
        <div class="show-message"></div>
        <textarea class="emit-message"></textarea>
        <button class="send-message">Send Message</button>
    </div>
</section>

{{! 头部引入}}
{{> footer}}

{{#section 'js'}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var ioSocket = io.connect("http://localhost:3000/"); 
        {{!-- var ioSocket = io();  --}}
        ioSocket.on('connect', function(){
            $('.message-title').text('Connect Success ! welcome {{userName}}');

            ioSocket.emit('join', "{{userName}}"); 
            ioSocket.on('join', function(data){
                console.log(data);
                var li = "";
                for(var i=0, len=data.length; i<len; i++){
                    li += "<li>"+ data[i] +"</li>";
                }
                $(".user-list").find("ul").html(li);
            });

            ioSocket.on('message', function(data) {
                console.log(data);
                $('.show-message').append($('<p class="other"></p>').text(data.name+":"+data.msg));

                {{!-- $('.show-message').scrollTop($('.show-message')[0].scrollHeight); --}}
            });

            
        });
        
        $(".send-message").click(function(){
            var data = {
                name: "{{userName}}",
                msg: $(".emit-message").val()
            }
            ioSocket.send(data);
            $('.show-message').append($('<p class="me"></p>').text("{{userName}}:"+$(".emit-message").val()));
            $(".emit-message").val("");
        });

        $('.emit-message').keyup(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                $(".send-message").trigger("click");
            }
        });

     console.log(Utils);
    </script>
{{/section}}