
{{#section 'css'}}
    <link rel="stylesheet" href="{{static '/css/chat.css'}}">
{{/section}}

{{! 头部引入}}
{{> header}}
<section class="chat-container">
    <div class="user-list">
        <h4>在线用户</h4>
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="message-box">
        <div class="message-title"></div>
        <div class="show-message"></div>
        <textarea class="emit-message"></textarea>
        <button class="send-message">Send Message</button>
    </div>
</section>

{{! 头部引入}}
{{> footer}}

{{#section 'js'}}
    <script src="/socket.io/socket.io.js"></script>
    <script>
        {{!-- var ioSocket = io.connect("http://localhost:3000/");  --}}
        var ioSocket = io(); 
        ioSocket.on('connect', function(){
            $('.message-title').text('Connect Success ! welcome {{userName}}');

            ioSocket.emit('join', "{{userName}}"); 
            ioSocket.on('join', function(data){
                var li = "";
                for(var i=0, len=data.length; i<len; i++){
                    li += "<li>"+ data[i] +"</li>";
                }
                $(".user-list").find("ul").html(li);
            });

            ioSocket.on('message', function(data) {
                var html = `<h4>${data.name}</h4>
                        <p>${data.msg}</p>`;
    
                $('.show-message').append($('<div class="other"></div>').html(html));
                $('.show-message').scrollTop($('.show-message').height());
            });

            ioSocket.on('disconnect', function() {
                console.log("与服务其断开");
            });

        });
        
        $(".send-message").click(function(){
            var data = {
                    name: "{{userName}}",
                    msg: $(".emit-message").val()
                }
            ioSocket.send(data);
            var html = `<h4>{{userName}}</h4>
                        <p>${$(".emit-message").val()}</p>`;
            $('.show-message').append($('<div class="me"></div>').html(html));
            console.log($('.show-message>div'));
            $('.show-message').scrollTop($('.show-message').height());
            $(".emit-message").val("");
        });

        $('.emit-message').keyup(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                $(".send-message").trigger("click");
            }
        });

        $('.sing-out').click(function(){
            ioSocket.emit('leave', "{{userName}}");
        });
    </script>
{{/section}}